:root {
    --axisAmount: 0;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

#mainButton {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: pink;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--axisAmount), 1fr);
    grid-template-rows: repeat(var(--axisAmount), 1fr);

    grid-auto-flow: dense;
    justify-items: stretch;
    align-items: stretch;

    width: 80vh;
    height: 80vh;
    gap: 1px;
    border: 2px dashed black;
}

.square {
    background: bisque;
    box-sizing: border-box;
    display: flex;
    flex: 1;
}