* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.startButton {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: pink;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 80vh;
    height: 80vh;
    gap: 5px;
    border: 2px dashed black;
}

.square {
    height: 100px;
    width: 100px;
    background: #4C3D3D;
}